src/main/doctypes/simplewpml/simplewpml.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
  xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns:wp="urn:ns:wordinator:simplewpml"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <a:documentation>
    <h1>Simple Word Processing Markup Language</h1>
    <p>Provides a simplified representation of the artifacts and properties common to most or all
    word processing formats as typified by Microsoft Word.</p>
    <p>This document type is intended as an intermediate format for use in going both to and from
    specific word processing formats, e.g., Microsoft Word, Libre Office, etc. It is used, for example,
    by the DITA for Publishers Word-to-DITA framework.</p>
    <p>The root element is "document". A document contains some number of paragraphs, tables, or objects.
    Paragraphs contain runs of text. Tables contain rows and cells. Objects contain information about
    non-textual objects (e.g., graphics, embedded executable objects, etc.).</p>
    <p>This markup is intended to capture the structure and content but not necessarily the styling
    or style definition details. The presumption is that style details are defined separately (e.g.,
    in a shared style sheet) or are applied as a matter of output transform (e.g., transforming
    from word processing files to XML like DITA or DocBook.</p>
    <p>This grammar defines the minimum markup. Applications may add additional attributes or 
    elements to support their specific needs. For example, the Word-to-DITA transformation framework
    embeds details about the style-to-tag mapping in the intermediate simple WP ML documents it 
    uses to then generate DITA output.</p>
    <p>NOTE: A document can consist of one or more distinct page sequences, called "sections" in the OO XML
    design. If a document does not specify any sections then it is effectively a document with exactly one
    section.</p>
    <p>http://wordinator.org</p>
  </a:documentation>
  <start>
    <ref name="document"/>
  </start>
  
  <define name="document">
    <element name="document" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Root of a document. Represents a complete word processing document.</p>
      </a:documentation>
      <optional>
        <ref name="page-sequence-properties"/>
      </optional>
      <ref name="body"/>
    </element>
  </define>
  
  <define name="page-sequence-properties">
    <element name="page-sequence-properties" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Specifies the properties of the page sequence, including headers and footers, page numbering, and page 
        geometry.</p>
        <fixme>Add chapter number related properties.</fixme>
      </a:documentation>
      <optional>
        <ref name="page-number-properties"/>
      </optional>
      <optional>
        <ref name="page-margins"/>
      </optional>
      <optional>        
        <ref name="headers-and-footers"/>        
      </optional>
      <optional>
        <ref name="valign-att"/>
      </optional>
    </element>
  </define>
  
  <define name="valign-att">
    <attribute name="valign">
      <a:documentation>
        <p>Vertical alignment of content in the page sequence. See 17.18.101 ST_VerticalJc (Vertical Alignment Type) in the OOXML specification.</p>
      </a:documentation>
      <choice>
        <value>both</value>
        <value>bottom</value>
        <value>center</value>
        <value>top</value>
      </choice>
    </attribute>    
  </define>
  
  <define name="page-number-properties">
    <element name="page-number-properties" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Defines the properties for the page numbers within the document or section.          
        </p>
      </a:documentation>
      <optional>
        <attribute name="start">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>        
        <attribute name="xslt-format">
          <a:documentation>
            <p>Number format as for the XSLT format attribute on the xsl:number instruction.
            This attribute must be specified if @format has the value "custom". If this attribute is
            specified and no value for @format is specified, @format is set to "custom".</p>
          </a:documentation>
        </attribute>
      </optional>
      <optional>
        <ref name="number-format-att"/>
      </optional>
    </element>
  </define>
  
  <define name="number-format-att">
    <attribute name="format">
      <a:documentation>Number format. See 17.18.59 ST_NumberFormat (Numbering Format) in the OOXML specification.</a:documentation>
      <choice>
        <value>aiueo</value>
        <value>aiueoFullWidth</value>
        <value>arabicAbjad</value>
        <value>arabicAlpha</value>
        <value>bahtText</value>
        <value>bullet</value>
        <value>cardinalText</value>
        <value>chicago</value>
        <value>chineseCounting</value>
        <value>chineseCountingThousand</value>
        <value>chineseLegalSimplified</value>
        <value>chosung</value>
        <value>custom</value>
        <value>decimal</value>
        <value>decimalEnclosedCircle</value>
        <value>decimalEnclosedCircleChinese</value>
        <value>decimalEnclosedFullstop</value>
        <value>decimalEnclosedParen</value>
        <value>decimalFullWidth</value>
        <value>decimalHalfWidth</value>
        <value>decimalZero</value>
        <value>dollarText</value>
        <value>ganada</value>
        <value>hebrew1</value>
        <value>hebrew2</value>
        <value>hex</value>
        <value>hindiConsonants</value>
        <value>hindiCounting</value>
        <value>hindiNumbers</value>
        <value>hindiVowels</value>
        <value>ideographDigital</value>
        <value>ideographEnclosedCircle</value>
        <value>ideographLegalTraditional</value>
        <value>ideographTraditional</value>
        <value>ideographZodiac</value>
        <value>ideographZodiacTraditional</value>
        <value>iroha</value>
        <value>irohaFullWidth</value>
        <value>japaneseCounting</value>
        <value>japaneseDigitalTenThousand</value>
        <value>japaneseLegal</value>
        <value>koreanCounting</value>
        <value>koreanDigital</value>
        <value>koreanDigital2</value>
        <value>koreanLegal</value>
        <value>lowerLetter</value>
        <value>lowerRoman</value>
        <value>none</value>
        <value>numberInDash</value>
        <value>ordinal</value>
        <value>ordinalText</value>
        <value>russianUpper</value>
        <value>taiwaneseCounting</value>
        <value>taiwaneseCountingThousand</value>
        <value>taiwaneseDigital</value>
        <value>thaiCounting</value>
        <value>thaiLetters</value>
        <value>thaiNumbers</value>
        <value>upperLetter</value>
        <value>upperRoman</value>
        <value>vietnameseCounting</value>
      </choice>
    </attribute>    
  </define>
  
  <define name="page-margins">
    <element name="page-margins" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Defines the page margins for the pages in the section.</p>
      </a:documentation>
      <optional>
        <attribute name="bottom">
          <a:documentation>
            <p>The the distance between the bottom of the text margins
              for the main document and the bottom of the page.</p>
          </a:documentation>
          <ref name="measurement"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="footer">
          <a:documentation>
            <p>The the distance from the bottom edge of the page to the
              bottom edge of the footer.</p>
          </a:documentation>
          <ref name="measurement"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="gutter">
          <a:documentation>
            <p>The page gutter [NOTE: Not clear from the spec howt this works].</p>
          </a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="header">
          <a:documentation>
            <p>The distance from the top edge of the page to the top
              edge of the header.</p>
          </a:documentation>
          <ref name="measurement"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="left">
          <a:documentation>
            <p>The the distance between the left edge of the page and
              the left edge of the text extents.</p>
          </a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="right">
          <a:documentation>
            <p>The the distance between the right edge of the page and
              the right edge of the text extents.</p>
          </a:documentation>
          <ref name="measurement"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="top">
          <a:documentation>
            <p>The the distance between the top edge of the page and
              the top edge of the text extents.</p>
          </a:documentation>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="headers-and-footers">
    <element name="headers-and-footers" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Contains the headers and footers for the document as a whole (or first section)
          or for an individual section.</p>
      </a:documentation>
      <zeroOrMore>
        <ref name="header"/>      
      </zeroOrMore>
      <zeroOrMore>
        <ref name="footer"/>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="header">
    <element name="header" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Defines a page header.</p>
      </a:documentation>
      <ref name="body-content"/>
      <optional>
        <ref name="header-footer-type-att"/>
      </optional>
    </element>
  </define>
  
  <define name="footer">
    <element name="footer" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Defines a page footer.</p>
      </a:documentation>
      <ref name="body-content"/>
      <optional>
        <ref name="header-footer-type-att"/>
      </optional>
    </element>
  </define>

  <define name="header-footer-type-att">
    <attribute name="type">
      <a:documentation>
        <p>The type of page the header or footer is used for. If not specified,
          the header or footer applies to pages for which a specific type has
          not been specified.</p>
        <p>There should be at most one header or footer of each type for a given
          page section.</p>
      </a:documentation>
      <choice>
        <value>first</value>
        <value>even</value>
        <value>odd</value>
      </choice>
    </attribute>    
  </define>
  
  <define name="body">
    <element name="body" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Contains the body content of the document, as distinct from any preamble or metadata.</p>
      </a:documentation>
      <ref name="body-content"/>
      <zeroOrMore>
        <ref name="section"/>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="section">
    <element name="section" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Represents a distinct page sequence with its own headers and footers, end notes, and so.</p>
      </a:documentation>
      <optional>
        <ref name="page-sequence-properties"/>
      </optional>
      <ref name="body"/>
      <optional>
        <attribute name="type">
          <a:documentation>
            <p>The type of break before the start of the section. The default is "nextPage" if not specified.</p>
          </a:documentation>
          <choice>
            <value>nextPage</value>
            <value>oddPage</value>
            <value>evenPage</value>
            <value>continuous</value>
            <value>nextColumn</value>
          </choice>
        </attribute>
      </optional>      
    </element>
  </define>
  
  <define name="body-content">
    <a:documentation>
      <p>Elements that are allowed in the document body or elements that allow paragraphs.</p>
    </a:documentation>
    <zeroOrMore>
      <choice>
        <ref name="p"/>
        <ref name="table"/>
        <ref name="object"/>                      
      </choice>
    </zeroOrMore>    
  </define>
  
  <define name="p">
    <element name="p" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>A block of text organized into one or more runs or nested tables or objects.</p>
        <p>See Office Open Part 1, ยง17.3.1.22 p (Paragraph)</p>
        <p>TODO: Fields, comments, deletion, insertion, etc.</p>
      </a:documentation>
      <zeroOrMore>
        <choice>
          <ref name="break"/>
          <ref name="bookmarkStart"/>
          <ref name="bookmarkEnd"/>
          <ref name="fn"/>
          <ref name="hyperlink"/>
          <ref name="image"/>
          <ref name="page-number-ref"/>
          <ref name="run"/>
          <ref name="object"/>
        </choice>
      </zeroOrMore>
      <ref name="style-atts"/>
      <optional>
        <ref name="tagName.att"/>
      </optional>
      <optional>
        <attribute name="align">
          <a:documentation>
            <p>The horizontal alignment of the paragraph contents.</p>
            <p>The value "char" indicates alignment on a specific character, e.g., on the decimal point in numbers.</p>
          </a:documentation>
          <choice>
            <value>both</value><!-- Synonym for justify -->
            <value>justify</value>
            <value>center</value>
            <value>distribute</value>
            <value>end</value>
            <value>highKashida</value>
            <value>lowKashida</value>
            <value>mediumKashida</value>
            <value>numTab</value>
            <value>right</value>
            <value>start</value>
            <value>thaiDistribute</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="outline-level">
          <a:documentation>
            <p>The outline level of the paragraph. Normally used for lists or headings.</p>
          </a:documentation>
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="page-break-before">
          <a:documentation>
            <p>Emit a page break before the paragraph.</p>
          </a:documentation>
          <ref name="true-false-value"/>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="tagName.att">
    <attribute name="tagName">
      <a:documentation>
        <p>The name of the XML element the object either came from or is mapped to.</p>
      </a:documentation>
    </attribute>
  </define>

  <define name="run">
    <element name="run" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>A sequence of one or more characters to which a specific style is applied.
          May contain inline elements such as bookmarks, symbols, etc.          
        </p>
        <p>See Office Open Part 1, ยง17.3.2.25 r (Text Run)</p>
      </a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="break"/>
          <ref name="object"/>
          <ref name="symbol"/>
          <ref name="tab"/>
        </choice>
      </zeroOrMore>
      <ref name="style-atts"/>
      <optional>
        <ref name="tagName.att"/>
      </optional>
      <optional>
        <attribute name="bold">
          <a:documentation>
            <p>Set the run to bold.</p>
            <p>In OOXML, bold is toggle property. See 17.7.3 Toggle Properties.</p>
          </a:documentation>
          <ref name="true-false-value"/>  
        </attribute>
      </optional>
      <optional>
        <choice>
          <attribute name="caps">
            <a:documentation>
              <p>Set the run to uppercase.</p>
            </a:documentation>
            <ref name="true-false-value"/>  
          </attribute>
          <attribute name="small-caps">
            <a:documentation>
              <p>Set the run to small caps. Cannot be specified with caps.</p>
              <p>In OOXML, small-caps is toggle property. See 17.7.3 Toggle Properties.</p>
            </a:documentation>
            <ref name="true-false-value"/>  
          </attribute>
        </choice>
      </optional>
      <optional>
        <attribute name="color">
          <a:documentation>
            <p>Set foreground color for the run</p>
            <p>For now must be an RGB color value. May add support for color names at some point.</p>
          </a:documentation>
          <data type="string">
            <param name="pattern">[0-9A-Fa-f]{6}</param>
          </data>  
        </attribute>
      </optional>
      <optional>
        <choice>
          <attribute name="double-strikethrough">
            <a:documentation>
              <p>Set the run to double strikethrough.</p>
            </a:documentation>
            <ref name="true-false-value"/>  
          </attribute>
          <attribute name="strikethrough">
            <a:documentation>
              <p>Set the run to single strikethrough.</p>
            </a:documentation>
            <ref name="true-false-value"/>  
          </attribute>
        </choice>
      </optional>
      <optional>
        <choice>
          <attribute name="emboss">
            <a:documentation>
              <p>Set the run to embossed.</p>
              <p>In OOXML, emboss is toggle property. See 17.7.3 Toggle Properties.</p>
            </a:documentation>
            <ref name="true-false-value"/>  
          </attribute>
          <attribute name="imprint">
            <a:documentation>
              <p>Set the run to imprint display.</p>
              <p>In OOXML, imprint is toggle property. See 17.7.3 Toggle Properties.</p>
            </a:documentation>
            <ref name="true-false-value"/>  
          </attribute>
          <attribute name="shadow">
            <a:documentation>
              <p>Set the run to shadow display.</p>
              <p>In OOXML, shadow is toggle property. See 17.7.3 Toggle Properties.</p>
            </a:documentation>
            <ref name="true-false-value"/>  
          </attribute>
        </choice>
      </optional>
      <optional>
        <attribute name="emphasis-mark">
          <a:documentation>
            <p>Set the emphasis mark character for the run.</p>
            <p>See 17.18.24 ST_Em (Emphasis Mark Type)</p>
          </a:documentation>
          <choice>
            <value>circle</value>
            <value>comma</value>
            <value>dot</value>
            <value>none</value>
            <value>underDot</value>
          </choice>  
        </attribute>
      </optional>
      <optional>
        <attribute name="expand-collapse">
          <a:documentation>
            <p>Set the character expansion/compression amount ("w" property in OOXML).</p>
          </a:documentation>
          <data type="string">
            <param name="pattern">[0-9]+(\.[0-9]+)%</param>
          </data>
        </attribute>
      </optional>
      <optional>
        <attribute name="highlight">
          <a:documentation>
            <p>Set the highlight color for the run.</p>
            <p>See 17.18.40 ST_HighlightColor (Text Highlight Colors).</p>
          </a:documentation>
          <choice>
            <value>black</value>
            <value>blue</value>
            <value>cyan</value>
            <value>darkBlue</value>
            <value>darkCyan</value>
            <value>darkGray</value>
            <value>darkGreen</value>
            <value>darkMagenta</value>
            <value>darkRed</value>
            <value>darkYellow</value>
            <value>green</value>
            <value>lightGray</value>
            <value>magenta</value>
            <value>none</value>
            <value>red</value>
            <value>white</value>
            <value>yellow</value>
          </choice>            
        </attribute>
      </optional>
      <optional>
        <attribute name="italic">
          <a:documentation>
            <p>Set the run to italic.</p>
            <p>In OOXML, italic is toggle property. See 17.7.3 Toggle Properties.</p>
          </a:documentation>
          <ref name="true-false-value"/>  
        </attribute>
      </optional>
      <optional>
        <attribute name="outline">
          <a:documentation>
            <p>Set the run to outline display.</p>
            <p>In OOXML, outline is toggle property. See 17.7.3 Toggle Properties.</p>
          </a:documentation>
          <ref name="true-false-value"/>  
        </attribute>
      </optional>
      <optional>
        <attribute name="position">
          <a:documentation>
            <p>Set the position above or below the default baseline for the run text. Positive values 
            are raised above the baseline.</p>
            <p>In OOXML, outline is toggle property. See 17.7.3 Toggle Properties.</p>
          </a:documentation>
          <ref name="measurement"/>  
        </attribute>
      </optional>
      <!-- NOTE: Omitting run shading property (17.3.2.32 shd (Run Shading)) for now as it is complex. -->
      <optional>
        <attribute name="underline">
          <a:documentation>
            <p>Turn on underlining for the run.</p>
            <p>See 17.18.99 ST_Underline (Underline Patterns).</p>
          </a:documentation>
          <choice>
            <value>dash</value>
            <value>dashDotDotHeavy</value>
            <value>dashDotHeavy</value>
            <value>dashedHeavy</value>
            <value>dashLong</value>
            <value>dashLongHeavy</value>
            <value>dotDash</value>
            <value>dotDotDash</value>
            <value>dotted</value>
            <value>dottedHeavy</value>
            <value>double</value>
            <value>none</value>
            <value>single</value>
            <value>thick</value>
            <value>wave</value>
            <value>wavyDouble</value>
            <value>wavyHeavy</value>
            <value>words</value>
          </choice>  
        </attribute>
      </optional>
      <optional>
        <attribute name="underline-color">
          <a:documentation>
            <p>Set the color for any underlining for the run.</p>
            <p>See 17.18.38 ST_HexColor (Color Value)</p>
          </a:documentation>
          <ref name="hexcolor"/>  
        </attribute>
      </optional>
      <optional>
        <attribute name="underline-theme-color">
          <a:documentation>
            <p>Set the theme color for any underlining for the run.
              Note that theme color overrides any underline color.
            </p>
            <p>See 17.18.97 ST_ThemeColor (Theme Color)</p>
          </a:documentation>
          <choice>
            <value>accent1</value>
            <value>accent2</value>
            <value>accent3</value>
            <value>accent4</value>
            <value>accent5</value>
            <value>accent6</value>
            <value>background1</value>
            <value>background2</value>
            <value>dark1</value>
            <value>dark2</value>
            <value>followedHyperlink</value>
            <value>hyperlink</value>
            <value>light1</value>
            <value>light2</value>
            <value>none</value>
            <value>text1</value>
            <value>text2</value>
          </choice>  
        </attribute>
      </optional>
      <optional>
        <attribute name="vanish">
          <a:documentation>
            <p>Set the run to hidden (vanished).</p>
            <p>In OOXML, vanish is toggle property. See 17.7.3 Toggle Properties.</p>
          </a:documentation>
          <ref name="true-false-value"/>  
        </attribute>
      </optional>
      <optional>
        <attribute name="vertical-alignment">
          <a:documentation>
            <p>Specifies the alignment which shall be applied to the contents of this run in relation to the default
              appearance of the run's text.</p>
            <p>See 22.9.2.17 ST_VerticalAlignRun (Vertical Positioning Location)  </p>
          </a:documentation>
          <choice>
            <value>baseline</value>
            <value>subscript</value>
            <value>superscript</value>
          </choice>  
        </attribute>
      </optional>
    </element>
  </define>  
  
  <define name="true-false-value">
    <choice>
      <value>true</value>
      <value>false</value>
    </choice>    
  </define>
  
  <define name="style-atts">
    <group>
      <optional>
        <ref name="style.att"/>
      </optional>
      <optional>
        <ref name="styleId.att"/>
      </optional>      
    </group>
  </define>
  
  <define name="style.att">
    <attribute name="style">
      <a:documentation>
        <p>The style name for the object. This is normally the display name for the style, 
          as distinct from any internal unique ID for the style.</p>
      </a:documentation>
    </attribute>    
  </define>
  
  <define name="styleId.att">
    <attribute name="styleId">
      <a:documentation>
        <p>The unique style identifier for the paragraph. This is normally an internal (to the word
        processing data) identifier for the style.</p>
      </a:documentation>
    </attribute>    
  </define>
  
  <define name="id.att">
    <attribute name="id">
      <a:documentation>
        <p>Unique identifier for the element</p>
      </a:documentation>
    </attribute> 
  </define>
  
  <define name="name.att">
    <attribute name="name">
      <a:documentation>
        <p>The display name for a thing (e.g., a bookmark).</p>
      </a:documentation>
    </attribute> 
  </define>
  
  <define name="bookmarkStart">
    <element name="bookmarkStart" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Marks the start of a bookmark. Bookmarks may be atomic or may be start/end pairs.</p>
        <p>The @id value is used to pair the bookmark start with any bookmark end. Bookmark IDs must be unique
        across all bookmarks within the document.</p>
      </a:documentation>
      <zeroOrMore>
        <text/>
      </zeroOrMore>
      <ref name="id.att"/>
      <ref name="name.att"/>
    </element>
  </define>
    
  <define name="bookmarkEnd">
    <element name="bookmarkEnd" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Marks the end of a bookmark. </p>s
        <p>The @id value is used to pair the bookmark end with its corresponding bookmark start.</p>
      </a:documentation>
      <zeroOrMore>
        <text/>
      </zeroOrMore>
      <ref name="id.att"/>
    </element>
  </define>
  
  <define name="fn">
    <element name="fn" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>A footnote within a paragraph or run. 
          Represents the point of reference of the footnote as well as the content of the footnote itself.</p>
        <p>A footnote has one or more paragraphs.</p>
        <!-- FIXME: May need a way to capture the callout or callout number stream or stream type (e.g., counter format). -->
      </a:documentation>
      <zeroOrMore>
        <choice>
          <ref name="p"/>
          <ref name="table"/>
        </choice>
      </zeroOrMore>
      <optional>
        <ref name="id.att"/>
      </optional>
      <optional>
        <ref name="style.att"/>
      </optional>
      <optional>
        <attribute name="type" a:defaultValue="bottom-of-page">
          <a:documentation>
            <p>Indicates the type of footnote: bottom-of-the-page or end note.</p>
            <p>The default is "bottom-of-page".</p>
          </a:documentation>
          <choice>
            <value>bottom-of-page</value>
            <value>endnote</value>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="hyperlink">
    <element name="hyperlink" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Represents a navigation link to another location, either within the same document or to another
        resource.</p>
      </a:documentation>
      <zeroOrMore>
        <choice>
          <ref name="run"/>
        </choice>
      </zeroOrMore>
      <attribute name="href">
        <a:documentation>
          <p>The URI of the target. If the target is internal, then the value is a fragment identifier
          with the ID of the target (typically a bookmarkStart but possibly another element with an 
          ID. A fragment identifier looks like "#idvalue". If the target is external then the value
          is simply the URI of the target.</p>
        </a:documentation>
      </attribute>
      <optional>
        <ref name="tagName.att"/>
      </optional>
    </element>
  </define>
  
  <define name="image">
    <element name="image" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>A reference to an image.</p>
        <p>If no explicit width and height is provided then the image should be 
        rendered using its intrinsic data, including resolution (pixels per inch),
        if available. If the image does not have an intrinsic resolution then
        the default of 72 pixels/inch should be used unless the processor provides
        for specifying a different default resolution.</p>
      </a:documentation>
      <empty/>
      <attribute name="src">
        <a:documentation>
          <p>The image data. Value is the URI of the image, e.g. "graphics/image-01.jpg".
          The image formats supported are implementation specific.</p>
        </a:documentation>
      </attribute>
      <optional>
        <ref name="tagName.att"/>
      </optional>
      <optional>
        <attribute name="width">
          <a:documentation>
            <p>The width in some unit. If no units are provided then the unit is pixels.</p>
            <p>Unit support is processor dependent but processors should support at least:</p>
            <ul>
              <li>px - pixels</li>
              <li>pt - points (72/inch)</li>
              <li>in - inches</li>
              <li>pc - picas (6/inch)</li>
              <li>mm - millimeters</li>
              <li>cm - centimeters</li>
            </ul>
          </a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="height">
          <a:documentation>
            <p>The height in some unit. If no units are provided then the unit is pixels.</p>
            <p>Unit support is processor dependent but processors should support at least:</p>
            <ul>
              <li>px - pixels</li>
              <li>pt - points (72/inch)</li>
              <li>in - inches</li>
              <li>pc - picas (6/inch)</li>
              <li>mm - millimeters</li>
              <li>cm - centimeters</li>
            </ul>
          </a:documentation>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="break">
    <element name="break" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Represents a literal break point: line, column, or page.</p>
        <p>The value "textWrapping" is from the Microsoft specification and is
        the same as "line".</p>
      </a:documentation>
      <empty/>
      <optional>
        <attribute name="type">
          <choice>
            <value>line</value>
            <value>column</value>
            <value>page</value>
            <value>textWrapping</value>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="page-number-ref">
    <element name="page-number-ref" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Represents a dynamic reference to a page number.</p>
      </a:documentation>
      <empty/>
      <optional>
        <ref name="number-format-att"/>
      </optional>
    </element>
  </define>
  
  <define name="symbol">
    <element name="symbol" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Represents a symbol pulled from a specific font. This is used
        mostly to support Word's font-based symbols intead of using
        Unicode characters directly.</p>
      </a:documentation>
      <text/>
      <attribute  name="font">
        <a:documentation>
          <p>The name of the font face to the symbol is in, e.g. "Wingdings".</p>
        </a:documentation>
      </attribute>
    </element>
  </define>
  <define name="tab">
    <element name="tab" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Represents a literal tab character. Avoids issues around XML whitespace normalization.</p>
      </a:documentation>
      <empty/>
    </element>
  </define>
  
  <define name="table">
    <element name="table" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Represents tabular data, i.e., rows and columns.</p>
      </a:documentation>
      <optional>
        <ref name="cols"/>
      </optional>
      <optional>
        <ref name="thead"/>
      </optional>
      <optional>
        <ref name="tbody"/>
      </optional>
      <optional>
        <attribute name="frame">
          <a:documentation>
            <p>Indicates what kind of frame the table should have.</p>
            <p>The default values for frame is implementation dependent, although "all" is typical.</p>
          </a:documentation>
          <choice>
            <value>all</value>
            <value>topbot</value>
            <value>sides</value>
            <value>bottom</value>
            <value>top</value>
            <value>none</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="calculatedWidth">
          <a:documentation>
            <p>The calculated width of the table based on things like explicit column widths.
            This value is used mostly for going from word processing data to XML.</p>
          </a:documentation>
          <ref name="measurement"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="width">
          <a:documentation>
            <p>The width value to use, either the keyword "auto", a percentage, or an absolute measurement.</p>
          </a:documentation>
          <ref name="auto-percentage-measurement"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rowsep">
          <a:documentation>
            <p>Indicates whether or not there are rules between rows. 1=show rule, 0=no rule.</p>
          </a:documentation>
          <choice>
            <value>1</value>
            <value>0</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="colsep">
          <a:documentation>
            <p>Indicates whether or not there are rules between columns. 1=show rule, 0=no rule.</p>
          </a:documentation>
          <choice>
            <value>1</value>
            <value>0</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="tagName.att"/>
      </optional>
    </element>
  </define>
  
  <define name="cols">
    <element name="cols" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Holds the column definitions for a table.</p>
      </a:documentation>
      <oneOrMore>
        <ref name="col"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="col">
    <element name="col" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Defines a single column within a table.</p>
      </a:documentation>
      <empty/>
      <optional>      
        <attribute name="colwidth">
          <a:documentation>
            <p>The width of the column. The value should specify appropriate units, although units are implementation specific.</p>
          </a:documentation>
          <ref name="auto-percentage-measurement"/>
        </attribute>
      </optional>    
    </element>
  </define>
  
  <define name="thead">
    <element name="thead" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Contains the header rows for a table.</p>
      </a:documentation>
      <zeroOrMore>
        <ref name="tr"/>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="tbody">
    <element name="tbody" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Contains the body rows for a table.</p>
      </a:documentation>
      <zeroOrMore>
        <ref name="tr"/>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="tr">
    <element name="tr" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>A row within a table head or table body.</p>
      </a:documentation>
      <oneOrMore>
        <ref name="td"/>
      </oneOrMore>
    </element>
  </define>
  
  <define name="td">
    <element name="td" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>A cell within a table row. Cells can consist of just runs and run content or multiple paragraphs or objects.</p>
        <p>NOTE: For vertical spans, all the cells spanned must be present in the row and must have the same @colspan value.
          The first cell in the vertical span specifies @rowspan with a value greater than 1. The subsequent cells may be
          empty or may include the &lt;vspan&gt; marker.
        </p>
      </a:documentation>
      <choice>
        <zeroOrMore>
          <choice>
            <ref name="bookmarkStart"/>
            <ref name="bookmarkEnd"/>
            <ref name="fn"/>
            <ref name="hyperlink"/>
            <ref name="p"/>
            <ref name="object"/>          
          </choice>
        </zeroOrMore>
        <ref name="vspan"/>
      </choice>
      <optional>
        <attribute name="align">
          <a:documentation>
            <p>The horizontal alignment of the cell contents.</p>
            <p>The value "char" indicates alignment on a specific character, e.g., on the decimal point in numbers.</p>
          </a:documentation>
          <choice>
            <value>left</value>
            <value>center</value>
            <value>right</value>
            <value>justify</value>
            <value>char</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="valign-att"/>
      </optional>
      <optional>
        <attribute name="colspan">
          <a:documentation>
            <p>The number of columns spanned by the cell. 1=no span, 2=two columns spanned, etc.</p>
          </a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="rowspan">
          <a:documentation>
            <p>The number of rows spanned by the cell. 1=no span, 2=two rows spanned, etc.</p>
          </a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="rowsep">
          <a:documentation>
            <p>Indicates whether or not there are rules between rows. 1=show rule, 0=no rule.</p>
          </a:documentation>
          <choice>
            <value>1</value>
            <value>0</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="colsep">
          <a:documentation>
            <p>Indicates whether or not there are rules between columns. 1=show rule, 0=no rule.</p>
          </a:documentation>
          <choice>
            <value>1</value>
            <value>0</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="borderstyle">
          <a:documentation>
            <p>Specifies the border style.</p>
          </a:documentation>
          <ref name="borderstyles"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="borderstylebottom">
          <a:documentation>
            <p>Specifies the bottom border style.</p>
          </a:documentation>
          <ref name="borderstyles"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="borderstyletop">
          <a:documentation>
            <p>Specifies the top border style.</p>
          </a:documentation>
          <ref name="borderstyles"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="borderstyleleft">
          <a:documentation>
            <p>Specifies the left border style.</p>
          </a:documentation>
          <ref name="borderstyles"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="borderstyleright">
          <a:documentation>
            <p>Specifies the right border style.</p>
          </a:documentation>
          <ref name="borderstyles"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="borderstyleinside">
          <a:documentation>
            <p>Specifies the inside border style.</p>
          </a:documentation>
          <ref name="borderstyles"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="borderstyleoutside">
          <a:documentation>
            <p>Specifies the outside border style.</p>
          </a:documentation>
          <ref name="borderstyles"/>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="object">
    <element name="object" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>Represents an embedded object of some sort, including graphics, spreadsheets, etc.</p>
      </a:documentation>
      
      <empty/><!-- FIXME: Define the object content model. -->
    </element>
  </define>
  
  <define name="vspan">
    <element name="vspan" ns="urn:ns:wordinator:simplewpml">
      <a:documentation>
        <p>For use within &lt;td&gt;, marks a cell as being the continuation of a vertically-spanned set of cells.</p>
        <p>For each row spanned after the first row in a vertical span, the cells must be empty or contain only
        a &lt;vspan&gt; element.</p>
      </a:documentation>
      <empty/>
    </element>
  </define>
  
  <define name="measurement">
    <data type="string">
      <param name="pattern">(\+|\-)?[0-9]+(\.[0-9]+)?(pt|pc|mm|cm|in|em|px)</param>
    </data>
  </define>
  
  <define name="auto-percentage-measurement">
    <data type="string">
      <param name="pattern">auto|(\+|\-)?[0-9]+(\.[0-9]+)?(pt|pc|mm|cm|in|em|px|%)</param>
    </data>    
  </define>  
  
  <define name="hexcolor">
    <a:documentation>
      <p>See 17.18.38 ST_HexColor (Color Value)</p>
    </a:documentation>
    <data type="string">
      <param name="pattern">[0-9A-F]{6}|auto</param>
    </data>
  </define>
  
  <define name="borderstyles">
    <a:documentation>
      <p>Border style values. See ST_Border (Border Styles) in the OOXML spec.</p>
    </a:documentation>
    <choice>
      <!-- This is not a complete list. See the docs -->
      <value>basicBlackDashes</value>
      <value>basicBlackDots</value>
      <value>basicBlackSquares</value>
      <value>basicThinLines</value>
      <value>basicWhiteDashes</value>
      <value>basicWhiteDots</value>
      <value>basicWhiteSquares</value>
      <value>basicWideInline</value>
      <value>basicWideMidline</value>
      <value>basicWideOutline</value>
      <value>bats</value>
      <value>birds</value>
      <value>birdsFlight</value>
      <value>cabins</value>
      <value>cakeSlice</value>
      <value>candyCorn</value>
      <value>celticKnotwork</value>
      <value>certificateBanner</value>
      <value>chainLink</value>
      <value>champagneBottle</value>
      <value>checkedBarBlack</value>
      <value>checkedBarColor</value>
      <value>checkered</value>
      <value>christmasTree</value>
      <value>circlesLines</value>
      <value>circlesRectangles</value>
      <value>classicalWave</value>
      <value>dashed</value>
      <value>dashSmallGap</value>
      <value>dotDash</value>
      <value>dotDotDash</value>
      <value>dotted</value>
      <value>double</value>
      <value>nil</value>
      <value>none</value>
      <value>single</value>
      <value>thick</value>
      <value>thickThinLargeGap</value>
      <value>thickThinMediumGap</value>
      <value>thickThinSmallGap</value>
      <value>thinThickLargeGap</value>
      <value>thinThickMediumGap</value>
      <value>thinThickSmallGap</value>
      <value>thinThickThinLargeGap</value>
      <value>thinThickThinMediumGap</value>
      <value>thinThickThinSmallGap</value>
      <value>threeDEmboss</value>
      <value>threeDEngrave</value>
      <value>triple</value>
      <value>wave</value>
    </choice>
  </define>
</grammar>